*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    display: flex;
    height: 100vh;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#num1, #num2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    background-color: #e1aa55;
    border-radius: 10px;
}
.operation-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    font-size: 60px;
    font-weight: bold;
    background-color: #34b3a8;
    border-radius: 25px;
}
.operation-btn:hover{
    background-color: #54b334;
    color: #02420d;
    cursor: pointer;

    transform: scale(1.2);
}
#resultText{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 250px;
    height: 125px;
    background-color: #c8b554;
    font-size: 20px;
    font-family: "Comic Sans MS";
    border-radius: 10px;
    border: 3px solid #b1a841;
}
#result{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    font-weight: bold;
    background-color: #34b3a8;
    border-radius: 25px;

}
#result:hover{
    background-color: #b33443;
    transform: scale(1.2);
    border-radius: 35px;
}